@charset "utf-8";
/* 股民学校首页 */
.wap-container {
  font-size: .12rem;
  font-family: 'SimSun';
  width: .46rem;
}
.schoolindex-container {
  font-size: .12rem;
}
.schoolindex-container #slider .slide-trigger {
  width: .46rem;
  left: auto;
  right: 0.16rem;
  bottom: 0.38rem;
  justify-content: flex-end;
}
.schoolindex-container #slider .slide-trigger li {
  background-color: #af9d9d;
}
.schoolindex-container #slider .slide-trigger li.cur {
  background-color: #da2626;
}
.schoolindex-container #slider .title {
  width: 3rem;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
